.team-container {
  text-align: center;
  background: #f8f8f8;
  padding: 50px 0;
}

.team-member-card {
  display: inline-block;
  margin: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.team-member-card:hover {
  box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.2);
}

.team-member-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
}

.team-member-card h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.team-member-card p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}