* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol,
col {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 150vh;
  perspective: 100px;
  overflow: hidden;
}

.carousel_viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  translate: -50% 0;
  width: 515%;
  height: 483%;
  border-radius: 47%;
  background: #ffffff;
}

.carousel::before {
  top: -480%;
}

.carousel::after {
  bottom: -480%;
}

.carousel_slide {
  position: relative;
  flex: 0 0 33.33%;
  width: 33.33%;
  counter-increment: item;
}

.carousel_snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-size: cover;
  background-position: 50%;
  border: 10px solid #ffffff;
}

.homepage-banner {
  background-color: #1010C2;
  color: white;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  font-weight: 500;
  width: 100%;
}

.counter h2 {
  color: #fff;
}

.counter {
  flex-direction: column;
  justify-content: center;
}

.search h1 {
  color: #1010C2;
}

.success {
  height: 100%;
}

.quote {
  flex-direction: column;
  color: #fff;
}

.fa-2xl {
  font-size: 3rem;
}

.success-title {
  color: #fff;
}

.container-fluid.success-stories{
  background-color: #1010C2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.left-col {
  display: flex;
}

.right-col {
  display: flex;
}

.carousel-header h1 {
  color:#1010C2;
}


