:root {
  --color-primary: #2f67ec;
}
body{
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  color:#080808;
  margin:0;
  height: 100vh;
  display: grid;
}

nav {
  position: relative;
  background: rgb(16, 16, 194);
  font-weight: 900;
  font-size: 10;
  display:flexbox;
  padding: 0px;
  width: 100%;
}

nav .item {
  color: white;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 16.6666%;
  line-height: 60px;
  text-align: center;
  text-decoration:none;
}
.dropdown {
  overflow:hidden;
  position: absolute;
  width: 100%;
  left: 0;
  top: 62px;
}
.dropdown > div {
  transform: translate(0,-100%);
  transition: 0.5s 0.1s;
  position: relative;
}
.dropdown a {
  color: black;
  display: block;
  padding:0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: silver;
  text-decoration: none;
}
.dropdown a:hover {
  background: rgb(16, 16, 194);
  color:white
}
.underline{
  position: absolute;
  z-index: 2;
  bottom: 0;
  height: 6px;
  width: 16.6666%;
  background: silver;
  transition: 0.35s;
  transform: translateX(0);
}
nav .item:hover > .dropdown > div{
  transform:translate(0);
}
nav .item:nth-child(1):hover ~ .underline{
  transform:translate(0);
}
nav .item:nth-child(2):hover ~ .underline{
  transform: translate(100%, 0);
}
nav .item:nth-child(3):hover ~ .underline{
  transform: translate(200%, 0);
}
nav .item:nth-child(4):hover ~ .underline{
  transform: translate(300%, 0);
}
nav .item:nth-child(5):hover ~ .underline{
  transform: translate(400%, 0);
}
nav .item:nth-child(6):hover ~ .underline{
  transform: translate(500%, 0);
}